version: 2
jobs:
  build:
    docker:
      - image: rocker/verse:4.3
    environment:
            _R_CHECK_FORCE_SUGGESTS_: false
    steps:
      - checkout
      - run: 
          name: Install matrixStats v0.61.0 
          command: R -e "install.packages('https://cran.rstudio.com/src/contrib/matrixStats_0.61.0.tar.gz', repos=NULL, type='source')"  
      - run:
          name: Install package dependencies
          command: |
            Rscript \
              -e 'if (!requireNamespace("devtools", quietly = TRUE)) install.packages("devtools")' \
              -e 'BiocManager::install("ggtree")' \
              -e 'devtools::install_deps(dependencies = TRUE)'
      - run:
          name: Build package
          command: R CMD build .
      - run:
          name: Check package
          command: R CMD check --no-manual *tar.gz
      - store_test_results:
          path: tmp/tests

